
/*!
--------------------------------------------
ESTRUTURAÇÃO BASE (v1)
--------------------------------------------
**** GERAL
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @media
*/


/* GERAL */

html, body, header, main, footer, article, div, span, p, a, figure, img, small{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;

}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.linha{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.coluna{}
/* BODY */
body{

  

}


/* HEADER */
body > header{
    background-image: url(../img/netw.png);
    /*expandir background*/
    background-size: cover;
    background-position: center;
    padding: 30px ;
}
body > header .container{}
body > header .linha{}
body > header .linha .coluna{}
body > header .linha .coluna figure{}
body > header .linha .coluna figure img{
    width: 100%;
    max-width: 150px;
}
body > header .linha .coluna h1{
    color: #fff;
    margin-left: 30px;
}
